<div class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
      <h1 class="cover-heading">Disclaimer</h1>
      <div class="disclaimer">
        <p class="lead cover-text">We are not registered as a securities broker-dealer or an investment adviser either
          with the U.S. Securities and Exchange Commission (the “SEC”) or with any state securities regulatory
          authority.
          We are neither licensed nor qualified to provide investment advice.
        </p>
        <p class="lead cover-text">

          The contents of this website are not provided to any particular individual with a view toward their individual
          circumstances. The information contained on our website is not an offer to buy or sell securities. We
          distribute
          opinions, comments and information for a monthly fee exclusively to individuals who wish to receive them. Such
          distribution is a general and regular circulation to our subscribers. The information contained therein
          constitutes impersonalized advice and involved disinterested commentary on the securities discussed.
        </p>
        <p class="lead cover-text">

          Our website has been prepared for informational purposes only and is not intended to be used as a complete
          source of information on any particular company. An individual should never invest in the securities of any of
          the companies’ mentioned based solely on information contained on our website. Individuals should assume that
          all information provided regarding companies is not trustworthy unless verified by their own independent
          research.
        </p>
        <p class="lead cover-text">
          Any individual who chooses to invest in any securities should do so with caution. Investing in securities is
          speculative and carries a high degree of risk; you may lose some or all of the money that is invested. Always
          research your own investments and consult with a registered investment advisor or licensed stock broker before
          investing.

          Past performance is not indicative of future results.
        </p>
        <p class="lead">
          <a [routerLink]="['/']" class="btn btn-lg btn-secondary">Home</a>
        </p>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Site Built By <a target="_blank" href="https://blog-site-sff.web.app/home">Sam McBeth</a></p>
      </div>
    </footer>
  </div>
</div>
