/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid black;
  transition: .8s;
}

.btn-secondary:hover {
  color: white;
  background-color: black;
  border: .05rem solid white;
}

.disclaimer {
  color: white;
}

/*
 * Base structure
 */




.text-center {
  min-height: 94vh;
  overflow: hidden;
  margin-top: 10vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;

}

.cover-container {
  text-align: center;
  max-width: 55em;
}






/*
 * Cover
 */
.cover {
  margin: auto auto;
  padding: 0 1.5rem;
}

.cover-heading {
  font-size: 4rem;
  padding-bottom: 2vh;
}

.cover-text {
  padding-bottom: 2vh;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* .disclaimer {
  padding: 3% 5%;
  background-color: white;
} */

/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, 0.5);
}
